{% extends "raango/base.html" %}

<! DOCTYPE html>

<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
{% block content %}
        <h1>Add a category please</h1>

        <form id="category_form" method="post" action=".">
             {% csrf_token %}
             {% for hidden in form.hidden_fields %}

                {{ hidden }}

             {% endfor %}
             {% for field in form.visible_fields %}

                {{ field.errors }}


                {{ field.help_text }}
                {{ field }}
             {% endfor %}


     <input type="submit" name="submit" value="Add" />


    </form>
{% endblock %}
</body>
</html>

