{% extends "raango/base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>


<html>
    <head>
        <title>Rango</title>

    </head>
    <body>
        
{% block content %}

        <div class='raw'>
        <div class='col-md-4 col-md-offset-4'>
        <h1>Register here</h1>


        {% if registerd %}

        Rango says : <strog> thanks you for registration </strong>
        <a href="/rango/">Return to the home page</a></br >
        {% else %}

     
        <form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">

        {% csrf_token %}


        {{ user_form|crispy }}
        {{ profile_form|crispy }}

        <input type = "submit" name="submit" value = "Register" />
        </form>

        </div>
        </div>

                
        {% endif %}
{% endblock %}

         

    </body>


</html>
